log:
  level: "debug"
  format: "text"

rest:
  port: ":8002"
  timeouts:
    read: 15s #seconds
    read_header: 15s #seconds
    write: 15s #seconds
    idle: 60s #seconds

database:
  sql:
    url: "postgresql://postgres:postgres@localhost:7002/postgres?sslmode=disable"

auth:
  tokens:
    account_access:
      secret_key: "UnG06MAU2i1Mvqf8" #example
    media:
      secret_key: "6DSjhhT9KIezubpR" #example
      ttl: 24h

s3:
  aws:
    region: "us-east-1"
    bucket_name: "my-app-bucket"
    access_key_id: "your-access-key-id"
    secret_access_key: "your-secret-access-key"
    session_token: "your-session-token"

  media:
    link:
      ttl: 24h

    profile:
      avatar:
        content_length_max: 5242880 # 5 MB
        allowed_formats:
          - "jpeg"
          - "jpg"
          - "png"
          - "gif"
        max_width:  512
        max_height: 512

kafka:
  brokers:
    - "localhost:9092"

  writer:
    required_acks: "all"     # "all" | "one" | "none"
    compression: "snappy"    # "snappy" | "gzip" | "lz4" | "zstd" | "none"
    balancer: "least_bytes"  # "least_bytes" | "round_robin" | "hash"
    batch_size: 100          # writer batching (0 = default)
    batch_timeout: 10ms      # writer batching timeout (0 = default)
    write_timeout: 5s        # timeout for a write call (0 = default)
    read_timeout: 5s         # broker read timeout (0 = default)
    dial_timeout: 5s         # dial timeout (0 = default)
    idle_timeout: 30s        # close idle connections (0 = default)

  reader:
    topics:
      accounts_v1:             #topic name for accounts events
        num_readers: 1         #number of readers for this topic which will be started in each process
        min_bytes: 1           #minimum bytes to fetch in each request
        max_bytes: 10e6        #maximum bytes to fetch in each request
        max_wait: 1s           #maximum time to wait for messages in each request
        commit_interval: 0s    # 0s = synchronous commits (CommitMessages does commit immediately)
        start_offset: "latest" # used only if group has no committed offset: "earliest"|"latest"
        queue_capacity: 100    #capacity of the internal queue for messages fetched from Kafka (should be >= batch_size)

  inbox:
    routines: 10          #number of goroutines which can process messages in each process
    slots: 40             #number of slots for processing messages in each process (should be >= routines)
    sleep: 100ms          #sleep time between processing messages
    batch_size: 100       #number of messages to process in a batch in each process
    min_next_attempt: 1m  #minimum time to wait before retrying a failed message
    max_next_attempt: 10m #maximum time to wait before retrying a failed message
    max_attempts: 0       #maximum number of attempts to process a message before giving up (0 = infinite retries)

  outbox:
    routines: 10          #number of goroutines which can process messages in each process
    slots: 40             #number of slots for processing messages in each process (should be >= routines)
    sleep: 100ms          #sleep time between processing messages
    batch_size: 100       #number of messages to process in a batch in each process
    min_next_attempt: 1m  #minimum time to wait before retrying a failed message
    max_next_attempt: 10m #maximum time to wait before retrying a failed message
    max_attempts: 0       #maximum number of attempts to process a message before giving up (0 = infinite retries)
