rest:
  port: ":8002"
  timeouts:
    read: 15s #seconds
    read_header: 15s #seconds
    write: 15s #seconds
    idle: 60s #seconds

log:
  level: "debug"
  format: "text"

database:
  sql:
    url: "postgresql://postgres:postgres@localhost:7002/postgres?sslmode=disable"

auth:
  account:
    token:
      access:
        secret_key: "UnG06MAU2i1Mvqf8" #example

s3:
  aws:
    region: "us-east-1"
    bucket_name: "my-app-bucket"
    access_key_id: "your-access-key-id"
    secret_access_key: "your-secret-access-key"
    session_token: "your-session-token"
  upload:
    token:
      secret_key: "UnG06MAU2i1Mvqf9" #example
      ttl:
        profile: 15m # 15 minutes

    profile:
      avatar:
        max_size: 5 << 20 # 5 MB
        allowed_formats:
          - "jpeg"
          - "jpg"
          - "png"
          - "gif"
        allowed_content_types:
          - "image/jpeg"
          - "image/png"
          - "image/gif"
        max_width:  512
        max_height: 512

kafka:
  brokers:
    - "localhost:9092"
